extends layout.pug 

block content 
    .head
        h1.header Catch-Up with hot news    
            .list 
                h1 This web application was created by student 00014016 to fulfill Web Technology module’s requirements and does not represent an actual company or service
                a(href="/detail")  
